<a href="https://colab.research.google.com/github/priyapilli/priyapilli/blob/main/python_assesment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import array
for name in array.__dict__:
    print(name)

__name__
__doc__
__package__
__loader__
__spec__
_array_reconstructor
ArrayType
array
typecodes

In [15]:
class person:
 def __init__(self,name,age,hobby):
   self.name=name
   self.age=age
   self.hobby=hobby
person= person('mera','22','dance')
print(person.__dict__)

{'name': 'mera', 'age': '22', 'hobby': 'dance'}

In [16]:
import builtins 
help(builtins.abs)
print(builtins.abs(-155))

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

155

In [21]:
def student(student_id, student_name, student_class):
    return f'Student ID: {student_id}\nStudent Name: {student_name}\nClass: {student_class}'
print(student('32', 'meera', 'python'))

Student ID: 32
Student Name: meera
Class: python

In [31]:
def student_data(student_id, **kwargs):
    print(f'\nStudent ID: {student_id}')
    if 'student_name' in kwargs:
        print(f"Student Name:  {kwargs['student_name']}")
    
    if 'student_name' and 'student_class' in kwargs:
            print(f"\nStudent Name:  {kwargs['student_name']}")
            print(f"Student Class:  {kwargs['student_class']}")

 
student_data(student_id='32', student_name='priya')

student_data(student_id='35', student_name='ria', student_class ='python')

Student ID: 32
Student Name:  priya

Student ID: 35
Student Name:  ria

Student Name:  ria
Student Class:  python

In [32]:
class Student:
    pass  
print(type(Student))
print(Student.__dict__.keys())
print(Student.__module__)

<class 'type'>
dict_keys(['__module__', '__dict__', '__weakref__', '__doc__'])
__main__

In [34]:
class student:
  pass
class marks:
  pass
students= Student()
marks1= marks()
print(isinstance(students, Student))
print(isinstance(marks1, Student))
print(isinstance(marks1, marks)) 
print(isinstance(students, marks))
print(issubclass(Student, object))
print(issubclass(marks, object))

True
False
True
False
True
True

In [35]:
class Student:
    student_name = 'priya'
    marks = 85
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")
setattr(Student, 'student_name', 'ria')
setattr(Student, 'marks', 70) 
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")

Student Name: priya
Marks: 85
Student Name: ria
Marks: 70

In [41]:
def maximum(a, b, c):
  
    list = [a, b, c]
    return max(list)
a=13
b=23
c=41
print(maximum(a,b,c))

41

In [42]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 0, 7)))

20

In [48]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((8, 2, 3, -1, 7)))

-336

In [49]:
note = "python assesment"[::-1]
print(note)

tnemsessa nohtyp

In [58]:
import math
def factorial(n):
 return(math.factorial(n))
n=int(input("Input a number to compute the factiorial : "))
print("Factorial of",n, "is",factorial(n))

Input a number to compute the factiorial : 6
Factorial of 6 is 720

In [60]:
def test_range(n):
    if n in range(8,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

The number is outside the given range.

In [61]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [62]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [70]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(7))

True

In [72]:
list= [1, 2, 3, 4, 5, 6, 7, 8, 9]
for num in list:
    if num % 2 == 0:
        print(num, end=" ")

2 4 6 8

In [73]:
n = int(input("Enter any number: "))
sum1 = 0
for i in range(1, n):
    if(n % i == 0):
        sum1 = sum1 + i
if (sum1 == n):
    print("The number is a Perfect number!")
else:
    print("The number is not a Perfect number!")

Enter any number: 7
The number is not a Perfect number!

In [76]:
def ispalindrome(string):
  if(string==string[::1]):
    return "the string is palindrome"
  else:
    return "the string is not palindrome"
string=input("enter string:")
print(ispalindrome(string))

enter string:assesment
the string is palindrome